<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>gamekit</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>10.2</string>
    <key>CFBundleIconFile</key>
    <string>Icon-57.png</string>
    <key>DTSDKName</key>
    <string>iphoneos10.2</string>
    <key>CFBundleName</key>
    <string>Freaking Math</string>
    <key>CFBundleIconFiles~ipad</key>
    <array>
      <string>Icon-29</string>
      <string>Icon-40</string>
      <string>Icon-50</string>
      <string>Icon-57</string>
      <string>Icon-58</string>
      <string>Icon-72</string>
      <string>Icon-76</string>
      <string>Icon-80</string>
      <string>Icon-87</string>
      <string>Icon-100</string>
      <string>Icon-114</string>
      <string>Icon-120</string>
      <string>Icon-144</string>
      <string>Icon-152</string>
      <string>Icon-180</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Freaking Math</string>
    <key>DTSDKBuild</key>
    <string>14C89</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16C67</string>
    <key>DTPlatformBuild</key>
    <string>14C89</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>6.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>UIAppFonts</key>
    <array/>
    <key>CFBundleVersion</key>
    <string>2005</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>bangdev.TrueFalseMath</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>Icon-29</string>
      <string>Icon-40</string>
      <string>Icon-50</string>
      <string>Icon-57</string>
      <string>Icon-58</string>
      <string>Icon-72</string>
      <string>Icon-76</string>
      <string>Icon-80</string>
      <string>Icon-87</string>
      <string>Icon-100</string>
      <string>Icon-114</string>
      <string>Icon-120</string>
      <string>Icon-144</string>
      <string>Icon-152</string>
      <string>Icon-180</string>
    </array>
    <key>DTXcode</key>
    <string>0821</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>Freaking Math</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
